/**************************
  FORMULARIO
  **************************/
.contacto__background {
  background-image: url(../img/contacto.jpg);
  height: 40rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.formulario {
  background-color: var(--blanco);
  margin: -20rem auto 0 auto;
  width: 95%;
  padding: 1rem;
  border-radius: 1rem;
}

.campo {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 1rem;
}
.campo__boton {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.boton__contacto {
  width: 100%;
}

@media (min-width: 768px) {
  .formulario {
    padding: 5rem;
  }
  .campo {
    grid-template-columns: 9rem 4fr;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .campo__label {
    text-align: right;
  }

  .boton__contacto {
    width: 30%;
  }
}

.campo__field {
  border: 1px solid var(--gris);
}

.campo__field__textarea {
  height: 20rem;
}
